.view
	%header.top-bar
		%h1.top-bar__title Find a Party
		%a.btn.btn--header{href: "/"} Back
	%main.ta-c
		.pt-l.pb-l
			%h1.bummer.mt-n.mb-n Bummer
			%p.mt-n There are no parties going on
			%a.btn.block{href: "host-a-party"} You should host a party