.view
    %header.top-bar
        %h1.top-bar__title Find a Party
        %a.btn.btn--header{href: "/"} Back
    %main.ta-c
        .pt-l.pb-l
            %ul.parties
/ This page is busted up. David, work your magic. Flex those ruby skillz.
                - if @parties.length > 0
                    - @parties.each do |party|
                        %li.parties__party
                            %h1 #{party[host]} invited you to a party
                            %p #{party[location]} at #{party[time]}
                - else
                   %h1.bummer.mt-n.mb-n Bummer
                   %p.mt-n There are no parties going on
                   %a.btn.block{href: "host-a-party"} Host your own party!