.view.view--map
    %header.top-bar
        %h1.top-bar__title Choose Location
        %a.btn.btn--header{href: "invite-friends"} Next
        %a.btn.btn--header{href: "/"} Back
    %main
        .map
            %iframe{frameborder: "0", height: "900", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=nema+san+francisco&aq=&sll=37.269174,-119.306607&sspn=11.707455,19.753418&ie=UTF8&hq=nema&hnear=San+Francisco,+San+Francisco+County,+California&t=m&cid=16557469646690314102&ll=37.776142,-122.417221&spn=0.043419,0.027552&z=14&iwloc=A&output=embed", width: "320"}
            %button.btn.btn--name-this-location Name This Location
            / If user names location, it saves this location for future use