!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title House Party
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "css/normalize.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %script{src: "js/vendor/modernizr-2.6.2.min.js"}
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    #view-1.view
      %header.top-bar
        %h1.top-bar__title House Party
      %main
        %a.btn.block{href: "#view-2"} Host a Party
        %a.btn.block.mt-10{href: "#view-3"} Find a Party
    #view-2.view.view--map
      %header.top-bar
        %h1.top-bar__title Choose Location
        %a.btn.btn--header{href: "#view-4"} Next
        %a.btn.btn--header{href: "#view-1"} Back
      %main
        .map.Flexible-container
          %iframe{frameborder: "0", height: "900", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=nema+san+francisco&aq=&sll=37.269174,-119.306607&sspn=11.707455,19.753418&ie=UTF8&hq=nema&hnear=San+Francisco,+San+Francisco+County,+California&t=m&cid=16557469646690314102&ll=37.776142,-122.417221&spn=0.043419,0.027552&z=14&iwloc=A&output=embed", width: "320"}
    #view-3.view
      %header.top-bar
        %h1.top-bar__title Find a Party
        %a.btn.btn--header{href: "#view-1"} Back
      %main.ta-c
        %h1.bummer.mt-n.mb-n Bummer
        %p.mt-n There are no parties going on
        %a.btn.block{href: "#view-2"} You should host a party
    #view-4.view
      %header.top-bar
        %h1.top-bar__title Time and Place
        %a.btn.btn--header{href: "#view-1"} Create
        %a.btn.btn--header{href: "#view-1"} Back
      %main
        %ul.mt-n.mb-n.pl-n
          %li
            %select 10:30pm
            %select 3am
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    %script{src: "js/plugins.js"}
    %script{src: "js/main.js"}
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');