.view.party-details
    %header.top-bar
        %h1.top-bar__title Party Details
        %a.btn.btn--header{href: "host-a-party"} Create
        %a.btn.btn--header{href: "/"} Back
    %main
        %h3{class: "mt-n"} Invite Friends To Party
        %ul{class: "friend-list  mt-n  mb-n  pl-n"}
            - locals[:friends].each do |friend|
                %li.friend-list__item
                    -# For whatever reason the profile images doesn't load yet although the src url seems to be fine
                    %a{:href => "#"}
                        %img{:src => "http://graph.facebook.com/#{friend['id']}/picture?type=square", :alt => "#{friend['name']}", :class => "fb-avatar"}=friend['name']
        %ul.mt-n.mb-n.pl-n
            %li
                %select 10:30pm
                %select 3am
