.view.party-details
    %header.top-bar
        %h1.top-bar__title Party Details
        %a.btn.btn--header{href: "/"} Create
        %a.btn.btn--header{href: "invite-friends"} Back
    %main
        %ul.mt-n.mb-n.pl-n
            %li
                %select 10:30pm
                %select 3am
